<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <form class="" action="index.html" method="post">
    <label for="punkId"></label>
    <input type="text" name="punkId" value="">
    <button>Submit</button>
  </form>

</div>
