<% layout('layouts/boilerplate') %>

<form class="" action="/punks" method="post">
  <label for="id">Punk ID</label>
  <input type="text" name="id" value="Enter ID">
  <br>
  <label for="punk_image">Image URL</label>
  <input type="text" name="punk_image" value='<img src="https://www.larvalabs.com/public/images/cryptopunks/punk2890.png" width="72" height="72">'>
  <br>
  <button>Submit</button>
</form>

<a href="/punks">All Punks</a>
